<%- include('includes/head') %>

  <section class="container">
    <h1><%= title %></h1>
    <hr>
    <p><%= description %></p>
    <span><%= localVar %></span>
    <hr>

    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Algum dado</label>
      <input type="text" name="dado">
      <button type="submit">Enviar</button>
    </form>
  </section>
  
<%- include('includes/foot') %>