<%- include('includes/head') %>

  <section class="container">
    <h1><%= title %></h1>
    <hr>
    <p><%= description %></p>
    <span><%= localVar %></span>
  </section>
  
<%- include('includes/foot') %>